* {
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to bottom,#202c09,#a3b09c );
    height: auto;
}
header .navbar{
    width: 100%;
    height: auto;
    position: fixed;
    background-image: linear-gradient(to bottom,#202c09,#a3b09c );

}
.nav-item{
    padding: 16px;
}

h1 {
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: black;
}

/* fondo de pantalla*/
.mainFondo{ 
    width: 100%;
    height: 1000px;
    background-image: url(../fondo\ de\ pantalla.jpg);
    min-height: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    
    
}
.countainer{
    height: 100px;
}
.mainBlanco{
    width: 100%;
    height: 1000px;
}
/*inicio*/
.main__Inicio  article p {
    color: rgba(135, 204, 202, 0.897);
    background-color: rgba(34, 139, 34, 0.712);
    position: relative;
    top: 300px;
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
    padding: 5px 10px;


}
.colFoto{
    height: 500px;
    justify-content: center;
}
.col {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

footer{
    background-image: linear-gradient(to bottom,#a3b09c,#202c09 );
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.main__Inicio--catalogo a{ 
    text-decoration: none;
    position: relative;
    top: 400px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.712);
    color: blanchedalmond;
    font-family: 'MonteCarlo', cursive;
    padding: 5px 10px;
    border-radius: 20px;

}

/*texto nosotros*/
.mainCountainer h2{
    color: rgba(135, 204, 202, 0.897);
    background-color: rgba(10, 15, 10, 0.712);
    position: relative;
    top: 300px;
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
    padding: 5px 10px;
}

/* Nosotros*/
.mainCountainer h1{

    position: relative;
    top: 200px;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.712);
    color: blanchedalmond;
    font-family: 'MonteCarlo', cursive;
    padding: 5px 10px;

}

.colFoto{
    height: 500px;

}

/*catalogo*/
.catalogoCountainer{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.catalogo{
    width: 33.3%;
    height: auto;
    padding: 30px;
    border-radius: 20px;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 30px;
    color: rgb(14, 134, 98);
}



.carousel-item {
    width: 33.3%;
    height: auto;
    padding: 100px;
    position: relative;
    top: 30px;
    margin: auto auto auto auto;
    justify-content: center;
}
.carousel-indicators{
    position: relative;
    top: 100px;
    color: black;
    
}




/*redes*/
.grid__countainer{
    display: grid;
    position: relative;
    top: 100px;    
    grid-template-rows: 200px 200px ;
    grid-template-columns: auto auto;
    row-gap: 200px;
    justify-items: center;
    
}
.grid-facebook a{
    position: relative;
    top: 80px;
}
.grid__instagram a{
    position: relative;
    top: 80px;
}
/*contacto*/
.gridContacto{
    width: 50%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    padding: 50px 100px;
    background-color: rgba(143, 223, 143, 0.719);
    border-radius: 15px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    position: relative;
    top: 100px;
    right: 100px;
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    
}
.mainCountainer h1{
    position: relative;
    top: 200px;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.712);
    color: blanchedalmond;
    font-family: 'MonteCarlo', cursive;
    padding: 5px 10px;

}
.gridForm{
    width: 33,3%;
    height: auto;
    transition: all 1s;
}
.gridForm:hover{
    width: 33;
    height: auto;
    font-size: 50px ;

}
.gridEmail{
    width: 3%;
    height: auto;
    transition: all 0.5s;
}
.gridEmail :hover{
    width: 333;
    height: auto;
    transition: all 0.25s;
}
.gridWhatsapp{
    width: 3%;
    height: auto;
    transition: all 0.5s;
}
.gridWhatsapp :hover{
    width: 333;
    height: auto;
    transition: all 0.25s;
}





@media (max-width: 500px) {

    .nav-item{
        padding: 8px;
    }
    .gridInicio{
        flex-direction: column;
        width: 100%;
        font-size: 4px;
    }
    .col{
        
        font-size: 16px;
    }

    
}
@media screen and (max-width: 768px) {

    .mainCountainer h2{
        font-size: 30px;
        
    }

    .nav-item{
        padding: 8px;
    }
    .gridContacto{
        font-size: 16px;
        justify-content: center;
    }
    .carousel-item{
        width: 100px;
    }
    .grid__countainer{
        width: 50%;
    }


}
@media screen and (min-width: 768px) {
    .carousel{
        width: 600px;
        margin: auto;
    }
}
